.Card {
    border-radius: 20px;
    border-style: solid;
    border-color: #60DAFA;
    background-color: white;
    color: black;
    height: 200px;
    width: 160px;
    margin: 10px;
    float: left;
}